[submodule "mtkflasher"]
	path = mtkflasher
	url = https://github.com/waybyte/tool-pymtkflasher
[submodule "mtkfirmdumper"]
	path = mtkfirmdumper
	url = https://github.com/ilyakurdyukov/mediatek_flash
[submodule "fcode-utils"]
	path = fcode-utils
	url = https://github.com/openbios/fcode-utils
